html {
  font-family: sans-serif;
  background: #ffc600;
}

.tab-content, .container, .results {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.236);
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #aaa;
}

.division {
  border: 1px solid black;
  margin: 5px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

select, button {
  margin-bottom: 10px;
  margin-top: 10px;
}
